{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="app-main">

  {% include 'includes/header.html' %}

  <!-- Main content -->
  <section class="app-content">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-sm table-striped">
          <thead>
            <tr>
              <th>Account ID</th>
              <th>Provisionner</th>
              <th>Contact</th>
              <th>Status</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
            {% set data = account.data %}
            <tr>
              <td><code>{{ account.nkey }}</code></td>
              <td>{{ data.provisionerName or "-" }}</td>
              <td>
                {% if data.contact %}
                {{ data.contact | join(', ') }}
                {% else %}
                <em>—</em>
                {% endif %}
              </td>
              <td>
                {% if data.status %}
                <span class="badge badge-{{
                      'success' if data.status == 'valid' else
                      'warning' if data.status == 'pending' else
                      'danger' if data.status == 'invalid' else 'secondary'
                    }}">{{ data.status or "unknown" }}</span>
                {% else %}
                <em>—</em>
                {% endif %}
              </td>
              <td>{{ data.createdAt or "—" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}