{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="app-main">

  {% include 'includes/header.html' %}
  {% include 'includes/flash_message.html' %}

  <!-- Main content -->
  <section class="app-content">
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        CSR
      </button>
    </div>
    <div class="card">
      <div class="card-body table-responsive p-0">
        <table class="table table-hover table-sm table-striped" style="font-size:10pt" id="app-table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Status</th>
              <th>Expired</th>
              <th>Revoked</th>
              <th>Subject</th>
              <th>Issuer</th>
              <th>Created</th>
              <th>Expires</th>
              <th>DNS Names</th>
              <th>Provisioner</th>
              <th style="width: 120px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for cert in certs %}
              {% set validation = cert.validation %}
              {% set data = cert.data %}
              <tr>
                <td><code>{{ data.serial_number or "—" }}</code></td>
                <td>
                  {% if validation.status %}
                  <span class="badge text-bg-{{
                        'success' if  validation.status == 'valid' else
                        'warning' if  validation.status == 'revoked' else
                        'danger' if  validation.status == 'expired' else 'secondary'
                      }}">{{ validation.status or "unknown" }}</span>
                  {% else %}
                  <em>—</em>
                  {% endif %}
                </td>
                <td>
                  {% if validation.expired %}
                  <span class="badge text-bg-{{
                        'light' if  validation.expired == 'true' else ''
                      }}">{{ validation.expired or "unknown" }}</span>
                  {% else %}
                  <em>—</em>
                  {% endif %}
                </td>
                <td>
                  {% if validation.revoked %}
                  <span class="badge text-bg-{{
                        'light' if  validation.revoked == 'true' else ''
                      }}">{{ validation.revoked or "unknown" }}</span>
                  {% else %}
                  <em>—</em>
                  {% endif %}
                </td>
                <td>{{ data.subject.common_name or "—" }}</td>
                <td>{{ data.issuer.common_name or "—" }}</td>
                <td>
                  {% if data.validity.start %}
                    <span class="badge text-bg-light"</span>
                  {% else %}
                    <span class="badge text-bg-warning"</span>
                  {% endif %}
                  {{ data.validity.start or "—" }}
                </td>
                <td>
                  {% if validation.expired %}
                    <span class="badge text-bg-danger"</span>
                  {% else %}
                    <span class="badge text-bg-success"</span>
                  {% endif %}
                  {{ data.validity.end or "—" }}
                </td>
                <td>
                  {% if data.dns_names %}
                    {% for i in data.dns_names %}
                      {{ i }}<br>
                    {% endfor %}
                  {% else %}
                    <em>—</em>
                  {% endif %}
                </td>
                <td>
                  {% if cert.provisioner.name %}
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#provisionerViewModal"
                      data-bs-provisionerID='{{ cert.provisioner.id | tojson | safe }}'
                      style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0; font-size:10pt;">
                      {{ cert.provisioner.name }}
                    </button>
                  {% else %}
                    <em>—</em>
                  {% endif %}
                </td>
                <td>
                  <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#viewModal"
                    data-bs-cert='{{ cert | tojson | safe }}'>
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#revokeModal"
                    data-bs-cert='{{ cert | tojson | safe }}'>
                    <i class="fas fa-trash"></i>
                  </button>
                  {% if data.generated == True %}
                    <a href="{{ url_for('x509.download_cert', serial=data.serial) }}" class="btn btn-sm btn-success">
                      <i class="fas fa-download"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View - X.509 Certificate</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-sm" id="viewModalBody">
            Loading...
          </div>
        </div>
      </div>
    </div>

    <!-- Revoke Modal -->
    <div class="modal fade" id="revokeModal" tabindex="-1" role="dialog" aria-labelledby="revokeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="revokeForm" method="POST" action="{{ url_for('x509.revoke_cert') }}">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="revokeModalLabel">Revoke - X.509 Certificate</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="hidden" name="cert_id" id="revokeFormCertId" readonly>
              <div class="mb-3">
                <label for="passphrase">Provisioner Passphrase</label>
                <input type="password" name="passphrase" id="revokeFormPassphrase" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Confirm Revoke</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- X.509 Certificate Signing Request Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="POST" action="{{ url_for('x509.sign_cert') }}">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Submit Certificate Signing Request (CSR)</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label>Provisioner</label>
                <select class="form-control" id="provisionerSelect" name="provisioner" required>
                  {% for provisioner in provisioners %}
                    <option value="{{ name }}">{{ provisioner.data.name }}</option>
                  {% endfor %}
                </select>
                <label for="passphrase">Provisioner Passphrase</label>
                <input type="password" class="form-control" id="passphrase" name="passphrase" required>
                <label for="csr_pem">Paste CSR (PEM format)</label>
                <textarea class="form-control" id="csr_pem" name="csr_pem" rows="10" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit CSR</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- step-ca Provisioner View Modal -->
    <div class="modal fade" id="provisionerViewModal" tabindex="-1" role="dialog" aria-labelledby="provisionerViewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View - step-ca Provisioner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-sm" id="provisionerViewModalBody">
            Loading...
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- script>
  var table = new Tabulator("#app-table", {});
</script -->

<script>

  const viewModal = document.querySelector('#viewModal');
  viewModal.addEventListener('show.bs.modal', function (event) {
    // Get the reference of the triggering button 
    // and retrieve the value from the attribute
    const modalButton = event.relatedTarget;
    const cert = JSON.parse(modalButton.getAttribute('data-bs-cert'));
    const jsonStr = JSON.stringify(cert, null, 4);

    const modalBody = document.getElementById("viewModalBody");

    modalBody.innerHTML = `
      <p><strong>Serial Number:</strong> <code>${cert.data.serial_number}</code></p>
      <p><strong>Subject:</strong> ${cert.data.subject_dn}</br>
      <strong>Issuer:</strong> ${cert.data.issuer_dn}</p>
      <p><strong>Status:</strong> ${cert.validation.status}</br>
      <strong>Valid From:</strong> ${cert.data.validity.start}</br>
      <strong>Valid To:</strong> ${cert.data.validity.end}</p>

      <pre>${jsonStr}</pre>
    `;
  });


  const revokeModal = document.querySelector('#revokeModal');
  revokeModal.addEventListener('show.bs.modal', function (event) {
    // Get the reference of the triggering button 
    // and retrieve the value from the attribute
    const modalButton = event.relatedTarget;
    const cert = JSON.parse(modalButton.getAttribute('data-bs-cert'));

    document.getElementById('revokeFormCertId').value = cert.nkey;
  });


  // Function for provisionerViewModal
  const provisionerViewModal = document.querySelector('#provisionerViewModal');
  provisionerViewModal.addEventListener('show.bs.modal', function (event) {
    // Get the reference of the triggering button 
    // and retrieve the value from the attribute
    const modalButton = event.relatedTarget;
    const provisioner = JSON.parse(modalButton.getAttribute('data-bs-provisionerID'));
    const jsonStr = JSON.stringify(provisioner, null, 4);

    const modalBody = document.getElementById("provisionerViewModalBody");

    fetch(`/api/step/provisioners/${provisioner}`)
      .then(resp => resp.json())
      .then(provisioner => {
        if (provisioner.error) {
          modalBody.innerHTML = `<div class="alert alert-danger">⚠️ ${provisioner.error}</div>`;
        } else {
          const jsonStr = JSON.stringify(provisioner, null, 4);
          modalBody.innerHTML = `
            <p><strong>Provisioner ID:</strong> <code>${provisioner.data.id}</code></p>
            <p><strong>Name:</strong> ${provisioner.data.name}</br>
              <strong>Status:</strong> ${provisioner.status}</p>
            <pre>${jsonStr}</pre>
          `;
        }
      })
      .catch(() => {
        modalBody.innerHTML = `<div class="alert alert-danger">⚠️ Failed to load provisioner.</div>`;
      });
  });

</script>

{% endblock javascripts %}