<!-- App Sidebar Container -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!-- Brand Logo -->
  <div class="sidebar-brand">
    <a href="/" class="brand-link">
      <i class="fas fa-shield-alt me-2" style="font-size: 1.5rem; color:white;"></i>
      <span class="brand-text fw-light"><b>step-ca</b> Admin</span>
    </a>
  </div>
  <!-- Brand Logo -->

  <!-- sidebar-wrapper -->
  <div class="sidebar-wrapper">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">

        <li class="nav-header">Dashboard</li>
        <li class="nav-item">
          <a href="/" class="nav-link py-1">
            <i class="nav-icon far fa-chart-bar"></i>
            <p>Certificate Summary</p>
          </a>
        </li>

        <!-- ACME -->
        <li class="nav-header">ACME Management</li>
        <li class="nav-item">
          <a href="{{ url_for('acme.accounts') }}" class="nav-link py-1">
            <i class="nav-icon fas fa-user-shield"></i>
            <p>Accounts</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('acme.orders') }}" class="nav-link py-1">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>Orders</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('acme.certs') }}" class="nav-link py-1">
            <i class="nav-icon fa-brands fa-expeditedssl"></i>
            <p>Certificates</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('acme.authzs') }}" class="nav-link py-1">
            <i class="nav-icon fas fa-lock-open"></i>
            <p>Authorizations</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('acme.challenges') }}" class="nav-link py-1">
            <i class="nav-icon fas fa-puzzle-piece"></i>
            <p>Challenges</p>
          </a>
        </li>

        <!-- x509 -->
        <li class="nav-header">X.509 Certificate Management</li>
        <li class="nav-item">
          <a href="{{ url_for('x509.active_certs') }}" class="nav-link py-1">
            <i class="nav-icon fa-brands fa-expeditedssl"></i>
            <p>Active</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('x509.revoked_certs') }}" class="nav-link py-1">
            <i class="nav-icon far fa-trash-can"></i>
            <p>Revoked</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('x509.all_certs') }}" class="nav-link py-1">
            <i class="nav-icon fa-brands fa-expeditedssl"></i>
            <p>All</p>
          </a>
        </li>

        <!-- step-ca Management -->
        <li class="nav-header">step-ca Management</li>
        <li class="nav-item">
          <a href="/step/admins" class="nav-link py-1">
            <i class="nav-icon fas fa-user-graduate"></i>
            <p>Admins</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/step/provisioners" class="nav-link py-1">
            <i class="nav-icon fas fa-user-shield"></i>
            <p>Provisioners</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/step/service" class="nav-link py-1">
            <i class="nav-icon fas fa-power-off"></i>
            <p>Service</p>
          </a>
        </li>

        <!-- System Management -->
        <li class="nav-header">System Management</li>
        <li class="nav-item">
          <a href="/system/config" class="nav-link py-1">
            <i class="nav-icon fas fa-cogs"></i>
            <p>App Config</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/system/service" class="nav-link py-1">
            <i class="nav-icon fas fa-power-off"></i>
            <p>App Service</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->
</aside>
