{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="app-main">

{% include 'includes/header.html' %}

  <!-- Flash Message -->
  <div class="app-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <!-- Flash Message -->


  <!-- Main content -->
  <section class="app-content">
    <div class="card">
      <div class="card-body">
        <h2 class="mb-4">Edit Configuration</h2>

        <form method="POST">
          <div class="form-group">
            <label for="db_host">Database Host</label>
            <input type="text" class="form-control" id="db_host" name="db_host" value="{{ db_host }}" required>
          </div>

          <div class="form-group">
            <label for="db_user">Database User</label>
            <input type="text" class="form-control" id="db_user" name="db_user" value="{{ db_user }}" required>
          </div>

          <div class="form-group">
            <label for="db_password">Database Password</label>
            <input type="password" class="form-control" id="db_password" name="db_password" value="{{ db_password }}"
              required>
          </div>

          <div class="form-group">
            <label for="db_name">Database Name</label>
            <input type="text" class="form-control" id="db_name" name="db_name" value="{{ db_name }}" required>
          </div>

          <div class="form-group">
            <label for="db_port">Database Port</label>
            <input type="number" class="form-control" id="db_port" name="db_port" value="{{ db_port }}" required>
          </div>

          <div class="form-group">
            <label for="ca_url">CA URL</label>
            <input type="text" class="form-control" id="ca_url" name="ca_url" value="{{ ca_url }}" required>
          </div>

          <div class="form-group">
            <label for="ca_root">ROOT CA</label>
            <input type="text" class="form-control" id="ca_root" name="ca_root" value="{{ ca_root }}" required>
          </div>

          <div class="form-group">
            <label for="ca_intermediate">INTERMEDIATE CA</label>
            <input type="text" class="form-control" id="ca_intermediate" name="ca_intermediate" value="{{ ca_intermediate }}" required>
          </div>

          <div class="form-group">
            <label for="ca_fingerprint">CA FINGERPRINT</label>
            <input type="text" class="form-control" id="ca_fingerprint" name="ca_fingerprint" value="{{ ca_fingerprint }}" required>
          </div>

          <div class="form-group">
            <label for="ca_admin_provisioner_name">CA ADMIN_PROVISIONER_NAME</label>
            <input type="text" class="form-control" id="ca_admin_provisioner_name" name="ca_admin_provisioner_name" value="{{ ca_admin_provisioner_name }}" required>
          </div>

          <div class="form-group">
            <label for="ca_config">CA CONFIG</label>
            <input type="text" class="form-control" id="ca_config" name="ca_config" value="{{ ca_config }}" required>
          </div>

          <div class="form-group">
            <label for="ca_config">Auth Backend</label>
            <input type="text" class="form-control" id="auth_backend" name="auth_backend" value="{{ auth_backend }}" required>
          </div>

          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </section>
  <!-- /.content -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}